body{
	margin: 0;
	padding: 0;
	background: url(https://images.unsplash.com/photo-1524169358666-79f22534bc6e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80); no-repeat;
	background-size: cover;
}
.box{
	width: 450px;
	background: rgba(0,0,0,0.5);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family:  -apple-system, BlinkMacSystemFont, sans-serif;
}
.box-img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
.box h1{
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100; 
}
.box h5{
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 100;
}
.box p{
text-align: justify;
}
ul{
	margin: 0;
	padding: 0;
}
.box li{
	display: inline-block;
	margin: 6px;
	list-style: none;
}
.box li a{
	color: white;
	text-decoration: none;
	font-size: 50px;
	transition: all ease-in-out 250ms;
}
.box li a:hover{
color:#b9b9b9;
}